body {
    background-color: hsl(81, 100%, 61%);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.buttons {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: hsl(279, 66%, 44%);
    color: white;
    border-style: none;
    font-size: 32px;
    width: 320px;
    padding: 24px 0;
    margin: 0 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 72px 0;
}

.score {
    font-size: 240px;
    position: relative;
    bottom: 240px;
    font-weight: 200;
}

.comment {
    font-size: 18px;
    font-weight: 400;
}